version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: las_mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: las_app
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7-alpine
    container_name: las_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data

volumes:
  mongo_data:
  redis_data:
